@import "../../../styles/variables.scss";

.createContainer {
  background: $background-card;
  padding: 24px 20px;
  border-radius: 8px;
  border: 2px solid #35373b;

  .title {
    color: #c5c7ca;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  .create {
    border-radius: 8px;
    background: #191920;
    padding: 15px 16px;
    gap: 16px;
    margin-bottom: 16px;

    .msgLogo {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: $background-card;
    }

    .postInput {
      width: 100%;
      color: #7f8084;
      font-size: 16px;
      line-height: 100%;
      background: transparent;
      outline: none;
      border: none;

      &::placeholder {
        color: #7f8084;
      }
    }
  }

  .postBtn {
    max-width: 111px;
    margin-left: auto;
  }
}
