@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.loginContainer {
  @include modalCard;
  position: relative;

  .closeBtn {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #131319;
    top: 16px;
    left: 415px;
    cursor: pointer;
    z-index: 1;
    margin-left: auto;
  }
}

.headingContainer {
  text-align: center;
}

.welcome {
  color: #6b6c70;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.42px;
  margin-bottom: 8px;
}

.login {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 45px;
}

.loginInputContainer {
  gap: 16px;
  margin-bottom: 20px;
}

.loginWrapper {
  position: relative;
  z-index: 1;
}

.registerContainer {
  color: #7f8084;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;

  .register {
    color: #c5c7ca;
    cursor: pointer;
  }
}
